*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-weight: 400;
    position: relative;
}

h1{
    font-size: 2em;
    margin: 12px;
}


.related{
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    justify-content: center;
}

.related li{
    margin-right: 15px;
    color: violet;
}

.related li:first-of-type{
    color: black;
}

.container {
    padding: 30px;
    font-size: 12px;
    font-weight: bold;
    width: 1240px;
    left: 40px;
    position: absolute;
    right: 40px;
}


.filters {
    margin-top: auto;
    justify-content: space-between; /*mettere around */
}

.filters ul, .filters {
    display: flex;
    align-items: center;
}


.filters ul li {
    list-style: none;
    padding: 10px;
}

.filters ul li:last-of-type {
    border-radius: 10px;
    background-color: gainsboro;
    font-weight: 600;
}


.filters div{
    padding: 12px 18px;
    border: 2px solid pink;
    border-radius: 10px;
}
.filters div:last-of-type{
    padding: 10px 15px;
    border: 1px solid rgb(216,216,216 );
}

.filters div:first-of-type {
    padding-right: 48px;
}

.card {
    margin-bottom: 20px;
    position: relative;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
}

.card img {
    width: 250px;
    height: 190px;
    border-radius: 10px;
    position: relative;
}

.card-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-info img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 10px;
}

.card-info div:first-of-type i {
    color: #6e6d7a;
    font-size: 22px;
}

.card-info div:nth-child(3) i {
    color: #6e6d7a;
    font-size: 12px;
}


.card-info span:first-child {
    font-size: 14px;
    font-weight: bold;
}

.card-info div:nth-child(2) span:last-child {
    background-color: #cccccc;
    color: white;
    font-size: 9px;
    font-weight: bold;
    padding: 1.2px;
    border-radius: 3px;
    margin: 10px;
}

.card-info div:nth-child(3) span {
    color: black;
    font-size: 11px;
    font-weight: 600;
}

.card-icon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 30px;
    color: hsla(0, 0%, 71%, 0.769);
}

.fa-copy:hover{
    color: red;
    cursor: pointer;
}